* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* splash img  */
section {
  position: relative;
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(115deg, #99f0ff, #2c6bf2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background: url('./Component/images/splash.jpg');
  background-size: 100%;
  background-position: center;
  mix-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Media query for tablet */
@media (max-width: 768px) {
  section {
    min-height: auto;
    /* Adjust as needed for tablet view */
  }
}

/* Media query for mobile */
@media (max-width: 480px) {
  section {
    height: auto
  }
}

hr {
  width: 100%;
  background-color: black;
  height: 3px;
  margin: 8px 0;
}


/* About  */

.mission:hover {
  .icon {
    color: rgb(202, 124, 41);
  }
}

/* About End */


/* Service Start */

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.hover\:animate-zoom-out:hover {
  animation: zoom-out 0.4s linear;
}


/* service faq  */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;

}

.faq-answer.open {
  max-height: 500px;

}

/* Service End */



/*Company  Client start */


.company-logo img {
  height: auto;
  width: 100%;
  max-height: 100px;
  max-width: 200px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

/* Company Clinet end */



/* Gallery start */
.gallery-img {
  transition: transform 0.3s ease;
}

.gallery-img:hover {
  transform: scale(0.9);
}

/* Gallery end */



/* Contact us*/
.input-effect {
  transition: border-color 0.5s ease, padding-top 0.5s ease;
  outline: none;
  /* Remove default outline */
}

.input-effect:focus {
  border-color: yellow;
  padding-top: 10px;

}

/* Hide placeholder on focus */
.input-effect:focus::placeholder {
  color: transparent;
  transition: color 0.5s ease-in-out;
  /* Smooth transition for placeholder */
}


/* Whats app Button start*/
.animated-button {
  animation: bounce 0.5s infinite alternate;
  /* Apply the bounce animation */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* Whats app button end */

/* Footer */
li {
  cursor: pointer;
}

li:hover {
  color: '#FFD700';
}

.color:hover {
  color: '#FFD700';
}