@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Anek+Gurmukhi:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Orbitron:wght@400..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rozha+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



ul {
  font-weight: 600;
}


/* Navbar start */

nav h1 {
  font: bold;
  font-weight: 900;
}

.animated-text {
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.animated-text::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FFD700;
  transition: all 0.5s ease;
}

/* Hover effect */
.animated-text:hover::after {
  width: 100%;
}

.sidebar {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 20;
}


/* Navbar end */
/* Main Front side Bg chnage start */
.front {
  position: relative;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: slideshow 40s infinite;
}

.front::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

@keyframes slideshow {

  0%,
  100% {
    background-image: url('./Component/images/Home1.jpg');
  }

  25% {
    background-image: url('./Component/images/Home2.jpg');
  }

  50% {
    background-image: url('./Component/images/Home3.jpg');
  }

  75% {
    background-image: url('./Component/images/Gallery12.jpg');
  }
}

.drop-shadow {
  filter: drop-shadow(5px 1px 100px #FFDF7A);
}

/* Main Front side Bg chnage end */

/* Media query for tablet */
@media (max-width: 768px) {

  .front {
    height: auto;
  }
}

/* Media query for mobile */
@media (max-width: 480px) {

  .front {
    height: auto;
  }
}

hr {
  width: 100%;
  background-color: black;
  height: 3px;
  margin: 8px 0;
}


/* About  */

.mission:hover {
  .icon {
    color: rgb(202, 124, 41);
  }
}

.no_of_exp_h1 {
  font-weight: 100;
}

/* About End */


/* Service Start */

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.hover\:animate-zoom-out:hover {
  animation: zoom-out 0.4s linear;
}


/* service faq  */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;

}

.faq-answer.open {
  max-height: 500px;

}

.service-icon {
  width: 30px;
}

/* Service End */



/*Company  Client start */


.company-logo img {
  height: auto;
  width: 100%;
  max-height: 100px;
  max-width: 200px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

/* Company Clinet end */



/* Gallery start */
.gallery-img {
  transition: transform 0.3s ease;
}

.gallery-img:hover {
  transform: scale(0.9);
}

/* Gallery end */



/* Contact us*/
.input-effect {
  transition: border-color 0.5s ease, padding-top 0.5s ease;
  outline: none;
  /* Remove default outline */
}

.input-effect:focus {
  border-color: yellow;
  padding-top: 10px;

}

/* Hide placeholder on focus */
.input-effect:focus::placeholder {
  color: transparent;
  transition: color 0.5s ease-in-out;
  /* Smooth transition for placeholder */
}


/* Whats app Button start*/
.animated-button {
  animation: bounce 0.5s infinite alternate;
  /* Apply the bounce animation */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* Whats app button end */

/* Footer */
li {
  cursor: pointer;
}

li:hover {
  color: '#FFD700';
}

.color:hover {
  color: '#FFD700';
}