/* splash img  */
/* Default styles */
section {
  position: relative;
  width: 100%;
  min-height: 90vh;
  background-image: url('./Component/images/pexels-asad-photo-maldives-169196\ \(1\).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background: url('./Component/images/splash.jpg');
  background-size: 100%;
  background-position: center;
  mix-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Media query for tablet */
@media (max-width: 768px) {
  section {
    min-height: auto;
    /* Adjust as needed for tablet view */
  }
}

/* Media query for mobile */
@media (max-width: 480px) {
  section {
    height: auto;
  }
}

hr {
  width: 100%;
  background-color: black;
  height: 3px;
  margin: 8px 0;
}